* {
  padding: 0;
  margin: 0;
}
/*
=======================================
NAV BAR
=======================================
*/
.orangeBar {
  background-color: orange;
  height: 100px;
}
div.nav {
  float: right;
}
li {
  display: inline-block;

}
li a {
  color: white;
  text-decoration: none;
  padding: 15px;

}

/*
=======================================
IMAGE
=======================================
*/

.logo {
  padding-top: 15px;
  padding-left: 50px;
}
.logo img {
  width: 30px;
  height: 30px;
}
.logo h1 {
  display: inline-block;
  color: #fff;
}

h1 {
  font-family: 'Poiret One', cursive;
}

.search {
  float: right;
}
.logo span {
  font-family: sans-serif;
}
.cta {
  width: 500px;
  height: 500px;
  margin-left: 20px;
  display: inline-block;
}
 .info {
  display: inline-block;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  color: orange;
  margin-left: 50px;
}

div.info {
  margin-left: 200px;
  font-size: 40px;
}
div.info span {
  font-family: sans-serif;
  font-weight: bold;
}
.info span.web {
  color: #7accc8;
}
/*
=======================================
Buttons
=======================================
*/

button {
  margin-top: 40px;
  color:white;
  padding: 15px;
  font-family: sans-serif;
  font-size: 12px;

}
button.button1 {
  background-color: orange;
  border-style: none;
  width: 200px;
}
button.button2 {
  background-color: #7accc8;
  border-style: none;
  width: 200px;
  margin-left: 100px;
}

/*
=======================================
FOOOTER
=======================================
*/

footer {
  background-color: #7ACCC8;
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
}
@media (max-width:1400px){
  footer {
    position: relative;
    bottom: -18px;
  }
}
@media (max-width:1400px) {
  div.info {
    font-size: 28px;
  }
}
@media (max-width:1400px) {
  button.button1 {
    width: 30%;
  }
}
@media (max-width:1400px) {
  button.button2 {
    width: 32%;
  }
}
@media (max-width:640px) {
  button.button2 {
    position: absolute;
    width: 14%;
  }
}
